extends ../layout
block content
	.container
		.row
			.card.mb-3
				.card-header
					h3 用户详情
				.card-body
					dl.row
						dt.col-sm-3 ID
						dd.col-sm-9 #{user._id}
						dt.col-sm-3 用户名
						dd.col-sm-9 #{user.name}
						dt.col-sm-3 角色
						dd.col-sm-9 #{user.role >= 10 ? '管理员' : '普通用户'} (#{user.role})
						dt.col-sm-3 创建时间
						dd.col-sm-9 #{formatDate(user.meta.createdAt)}
						dt.col-sm-3 更新时间
						dd.col-sm-9 #{formatDate(user.meta.updateAt)}
			a.btn.btn-secondary(href="/admin/user/list") 返回用户列表
